{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}
О корпусе
{% endblock %}

{% block content %}
  <h1>О корпусе</h1>

  <h3>Состав корпуса</h3>
  Текущий состав корпуса:
  <ul>
    <li>
      Елизаветинская Библия, 1751. Библия в формате .sqlite3 взята с <a href="https://www.ph4.ru/b4_1.php?l=cu#google_vignette">сайта приложения MyBible</a>
    </li>
    <li>
      Октоих. Источник: <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/oktoih/">сайт православный портал "Азбука веры"</a> (<a href="https://azbyka.ru/otechnik/books/download/19089-Октоих.epub">Скачать</a>)
    </li>
    <li>
      Триодь Постная. Также собрана из нескольких текстов с Азбуки.ру:
      <ul>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-predugotovitelnyh-sedmits/">Службы предуготовительных седмиц Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-pervoj-sedmitsy-velikogo-posta/0">Службы 1-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-vtoroj-sedmitsy-velikogo-posta/0">Службы 2-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-tretej-sedmitsy-velikogo-posta/0">Службы 3-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-chetvertoj-sedmitsy-velikogo-posta/0">Службы 4-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-pjatoj-sedmitsy-velikogo-posta/">Службы 5-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-shestoj-sedmitsy-velikogo-posta/0">Службы 6-ой седмицы Великого поста</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-strastnoj-sedmitsy-velikogo-posta/0">Службы Страстной седмицы Великого поста</a>
        </li>
      </ul>
    </li>
    <li> Триодь Цветная. Источник – Азбука.ру:
      <ul>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhba-v-svetloe-hristovo-voskresenie/">Служба в Светлое Христово Воскресение</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-svetloj-sedmitsy/">Службы Светлой седьмицы</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-vtoroj-sedmitsy-po-pashe/">Службы второй седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-tretej-sedmitsy-po-pashe/">Службы третьей седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-chetvertoj-sedmitsy-po-pashe/">Службы четвертой седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-pjatoj-sedmitsy-po-pashe/">Службы пятой седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-shestoj-sedmitsy-po-pashe/">Службы шестой седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-sedmoj-sedmitsy-po-pashe/">Cлужбы седьмой седьмицы по Пасхе</a>
        </li>
        <li>
          <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/sluzhby-vosmoj-sedmitsy-po-pashe/">Службы восьмой седьмицы по Пасхе</a>
        </li>
      </ul>
    </li>
  </ul>


  <h3>Структура корпуса</h3>
  <p>
    Структура корпуса соответствует структуре markdown-файлов, из которых он “собирается”. Это значит, что корпус может пополняться и другими текстами, но нужно подготовить корректную (в первую очередь, по уровням вложенности) markdown-разметку. По нашему корпусу можно перемещаться от высшего уровня к низшему и обратно: книга — глава — абзац — гимн.
  </p>
  <p>
    Абзац разбивается на гимны по границам киноварных вставок на киноварь и гимны.
  </p>
  <p>
    <b>“Гимн”</b> – минимальная структурная единица нашего корпуса и главная смысловая единица. Гимном мы называем “чернильную” часть абзаца богослужебной книги (все, что не является киноварью) или библейский стих. Вот как могут выделяться гимны:
  </p>
  <p><b>Случай 1: в абзаце есть киноварь</b></p>
  <p>
    <mark>
      <Сти́х 1:> Воскли́кните Го́сподеви вся́ земля́. <Припе́в:> Моли́твами богоро́дицы, спа́се спаси́ на́с.
    </mark>
  </p>
  <p>
    <b>Результат:</b> абзац разделен на 4 части: 2 киноварные вставки (<Сти́х 1:>, <Припе́в:>) и 2 гимна (“Воскли́кните Го́сподеви вся́ земля́.“,”Моли́твами богоро́дицы, спа́се спаси́ на́с”). Таким образом можно отделить служебные пометки от содержательной части богослужебных текстов.
  </p>
  <p>
  <p><b>Случай 2: киноварной разметки нет</b></p>
  <p>
    Все библейские стихи являются единичными гимнами, поскольку у них нет дополнительных мета-элементов.
  </p>
  <p>
    <mark>
      И рече Господь к моисею, глаголя:
    </mark>
  </p>
  <p>
  <b>Результат:</b> Абзац целиком становится одним гимном.
  </p>

  <p>
    Разбивка абзаца происходит автоматически, и его итоговый состав зависит от разметки. Поскольку наш исходный материал не всегда отличается корректностью и единообразностью разметки, встречаются “аномалии” в виде абзацев с огромным количеством гимнов.
  </p>
  <p>
    Если нажать на какой-либо гимн, можно оказаться на его странице и увидеть гимны, которые совпадают с ним полностью или частично. На данный момент выводятся три типа сходства: полное совпадение, совпадение без учета пунктуации и регистра и сходство “по смыслу”. Также мы работаем над алгоритмами поиска гимнов, похожих без учета морфологии (по набору лемм, начальных форм слов), а также гимнов, имеющих общие устойчивые сочетания (n-граммы). Об алгоритмах, которые мы используем, и над которыми работаем, – ниже.
  </p>

  <h3>Исходный формат текстов</h3>
  <p>
    Все тексты, взятые с Азбуки.ру, были скачаны в формате .epub и преобразованы в формат .md (markdown) при помощи <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/blob/main/scripts/texts_downloading/get-and-parse.sh">скрипта на Bash Shell Script</a>.
  </p>
  <p>
    Маркдаун (Markdown) — это формат текстовых файлов, где все структурные элементы размечены особым образом.
    Например, заголовки первого уровня размечены знаком #, заголовки более низкого уровня уже ##, ### и т.п., киноварь выделена <в треугольные скобки>, примечания выделены квадратными скобками и т.п.
  </p>
  <p>
    Получившиеся из всех epub-текстов (в том числе и тех, которые пока не добавлены – Миней, Часослова и Требников) markdown-файлы можно найти <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/texts/original">в репозитории</a>.
  </p>

  <p>
    База данных нашего корпуса формируется автоматически в соответствии с семантической разметкой материала, поэтому для успешной генерации базы данных нужна корректная разметка файлов. Рассмотрев файлы внимательнее, мы заметили много неточностей: была нарушена вложенность структурных элементов текста. Например, заголовки служб суточного круга могли быть размечены так же, как и заголовок “Суббота” (второй уровень).
  </p>
  <p>
    Мы проверили разметку вручную и восстановили такую структуру:<br>
    # 1 уровень — уставные главы и гласы<br>
    ## 2 уровень — день<br>
    ### 3 уровень — служба суточного круга<br>
    #### 4 уровень — самостоятельная часть службы<br>
  </p>
  <p>
    Эта структура восстановлена для Октоиха, Постной и Цветной Триоди (тех текстов, которые уже добавлены на сайт). Файлы с исправленной нами разметкой также хранятся в репозитории.
  </p>

  <h3>Содержание базы данных</h3>
  <p>
    База данных проекта основана на реляционной модели и разработана на SQLite3. Они состоит из основных таблиц, в которых хранятся тексты и отношения между ними, и нескольких вспомогательных. В таблице textblock отражены отношения вложенности между частями корпуса, книгами и главами. В paragraph хранится их содержимое в виде полных абзацев, а в hymn — в виде гимнов (фрагментов, разделенных киноварными вставками). Таблица similarities включает отношения сходства пар гимнов, типы которых можно найти в similarity_type. Style и language являются вспомогательными таблицами, которые отражают информацию о формальных характеристиках текстов.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Таблица</th>
        <th scope="col">Описание</th>
        <th scope="col">Атрибуты</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>textblock</td>
        <td>Описывает отношения вложенности между частями корпуса (книги, главы), но не хранит их тексты.</td>
        <td>
          <ul>
            <li>id элемента (книга или глава)</li>
            <li>name_long – полное название</li>
            <li>name_short – сокращенное название (есть не у всех)</li>
            <li>path_short – краткий путь (только для Библии)</li>
            <li>order_id – порядковый номер в рамках родительского элемента</li>
            <li>path_long – полный путь (только для Библии)</li>
            <li>parent_block_id – id родительского элемента в этой же таблице (id), у книг равна NULL</li>

          </ul>
        </td>
      </tr>

      <tr>
        <td>paragraph</td>
        <td>Текст в виде абзацев (фрагментов текста между двумя знаками разрыва строки). Эта таблица сгенерирована скриптом из подготовленных markdown-файлов. Библия изначально была в этом формате.</td>
        <td>
          <ul>
            <li>id абзаца</li>
            <li>txt – изначальная версия текста</li>
            <li>txt_simplified – текст без капитализации и знаков пунктуации, подходящий для машинной обработки</li>
            <li>order_id – порядковый номер абзаца в родительском элементе (главе)</li>
            <li>parent_block_id – id родительского элемента, равен id в таблице textblock</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>hymn</td>
        <td>Гимны (фрагменты текста между киноварными вставками). Эта таблица генерировалась из таблицы paragraph.</td>
        <td>
          <ul>
            <li>id гимна</li>
            <li>parent_id – id родительского абзаца, равен id в таблице paragraph</li>
            <li>txt – изначальная версия текста</li>
            <li>txt_simple – текст без капитализации и знаков пунктуации, подходящий для машинной обработки</li>
            <li>txt_len – длина txt в символах</li>
            <li>txt_simple_len – длина txt_simple в символах</li>
            <li>order_id – порядковый номер гимна в абзаце</li>
            <li>parent_order_id – порядковый номер родительского абзаца в главе</li>
            <li>language_id – id языка текста, равен id в таблице language (у нас только церковнославянский язык, но мы закладываем в архитектуре возможность создания параллельного корпуса)</li>
            <li>style – id стиля текста (обычный, киноварь), равен id в таблице style</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>similarity_type</td>
        <td>Названия типов сходств, по которым гимны группируются как похожие.</td>
        <td>
          <ul>
            <li>id типа сходства</li>
            <li>sim_type – полное название типа сходств</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>similarities</td>
        <td>Отношения сходства в парах гимнов. На данный момент пары дублируются в двух порядках – АБ и БА хранятся отдельно.</td>
        <td>
          <ul>
            <li>id пары</li>
            <li>hymn1_id – id первого гимна пары, равен id в таблице hymn</li>
            <li>hymn2_id – id второго гимна пары, равен id в таблице hymn</li>
            <li>similarity_type – id типа сходства, равен id в таблице similarity_type</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>language</td>
        <td>Полные названия языков текстов корпуса с отношениями вложенности в рамках языковых групп. В данной версии есть только церковнославянский материал.</td>
        <td>
          <ul>
            <li>id языка или группы языков</li>
            <li>parent_id – id родительской группы из этой же таблицы</li>
            <li>name – полное название языка или группы на английском</li>
            <li>comment – полное название языка или группы на русском</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>style</td>
        <td>Стиль текста. Сейчас только два – обычный и киноварь.</td>
        <td>
          <ul>
            <li>id стиля</li>
            <li>name – название стиля</li>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>

  <p>
    Базу данных и скрипты для ее наполнения можно найти <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/database">в репозитории</a>. Содержимое можно просматривать при помощи приложения DB Browser for SQLite.
  </p>

  <h3>Алгоритмы</h3>

  <h4>Поиск похожих гимнов</h4>

  <p>
    На данный момент мы используем такие категории сходства:
  </p>
  <ol>
    <li>
      Полные дубликаты – это гимны, текст которых полность совпадает с заданным. Сравниваем строки, если они равны, то гимны – полные дубликаты.
    </li>
    <li>
      Дубликаты без учета пунктуации и регистра – если привести гимны нижнему регистру и убрать из них пунктуацию, то они будут совпадать полностью. Т.е. отличаться друг от друга они будут только отдельными знаками препинания и/или регистрами букв в отдельных словах.
    </li>
    <li>
      Похожие по смыслу.
    </li>
  </ol>
  <p>
    Говоря о сходстве по смыслу, мы опираемся на терминологию компьютерной <b>дистрибутивной семантики</b>.
  </p>

  <p>
    Под смыслом (значением) единицы в дистрибутивной семантике подразумевается информация о том, как часто и в каких контекстах эта единица встречается в корпусе. К примеру, слово "малина" окажется больше похоже по смыслу на слово "черника", чем на слово "машина", потому что "малина" и "черника" часто встречаются вместе в контексте похожих слов: "куст", "собирать", "есть", а "машина" –  рядом со словами "колесо", "ехать", "бензин".
  </p>
  <p>
    В нашем случае учитываются контексты даже не целых слов, а символьных n-грамм. N-грамма – последовательность из n элементов, идущих друг за другом, здесь – это последовательность идущих друг за другом n символов. Например, из слова “символов” получатся такие 2-граммы (биграммы): “си”,”им”,”мв”,”во”,”ол”,”ло”,”ов”. А смысл строки (в нашем случае – гимна) складывается из смысла ее составных элементов.
  </p>
  <p>
    Компьютерная модель, которая вычисляет смыслы, сначала обучается на большом корпусе текстов, чтобы понять, какие единицы встречаются в общих контекстах и насколько часто. Исходя из своих “знаний” о текстах, модель может сопоставить строке вектор чисел, в котором будет закодирован смысл строки. Такие векторы в дистрибутивной семантике называют эмбеддингами. И чтобы понять, насколько смысл двух строк похож или отличается, между этими векторами можно вычислить расстояние, как это делается в геометрии. Если расстояние маленькое, значит, строки близки по смыслу, а если большое, то далеки.
  </p>

  <p>
    Мы использовали технологию fasttext (а именно <a href="https://fasttext.cc/docs/en/python-module.html">библиотеку для языка Python</a>). Модель мы обучили на гимнах из всех текстов (Библия, Октоих, Требник, Требник монашеский, Минеи зеленые, Часослов, Триодь Постная и Триодь Цветная). <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/blob/main/scripts/similarities/corpus_simple_hymni.txt">Файл для обучения</a> и <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/blob/main/scripts/similarities/corpus_simple_hymni.bin">саму модель</a> можно найти у нас в репозитории. Есть и другие технологии дистрибутивной семантики, например, word2vec, но преимущество fasttext в том, что для работы с ним не требуется лемматизация (приведение слов к начальным формам). Модель fasttext обучается символьных на n-граммах, частичках слов, которые могут захватывать разные морфемы, а значит, она в каком-то смысле учитывает еще и морфологию.
  </p>
  <p>
    Характеристики модели: unsupervised, skipgram, 100-мерные векторы, ширина контекстного окна – 5, длина n-грамм 3–6.
  </p>
  <p>
    Для сравнения мы используем косинусную близость. После экспериментов с разными порогами сходства и анализа результатов, мы выбрали порог сходства 80%.
  </p>
  <p>
    Расскажем о самом алгоритме поиска похожих гимнов. Чтобы их найти, мы проходим циклом по списку всех гимнов корпуса и каждый сравниваем со всеми остальными гимнами корпуса. Получившуюся группу – гимн и похожие на него гимны, мы будем называть кластером, хотя это не кластеризация в строгом смысле. Гимны, которые уже попали в кластер к первому гимну, больше ни с чем в корпусе не сравниваются, в дальнейших сравнениях не участвуют.
  </p>

  <p>
    Минус алгоритма в том, что кластеризация оказывается зависимой от порядка, а сходство гимнов внутри получившегося "кластера" не проверяется.
  </p>

  <p>
    Кроме того, в корпусе очень много дубликатов и строк, отличающихся несколькими символами. Чтобы такие дубликаты не забивали выдачу гимнов, похожих по смыслу, перед запуском основного алгоритма кластеризации мы делаем несколько этапов очистки от дублей:
  </p>
  <ol>
    <li>Убираем полные дубликаты (в итоге, например, если одна фраза повторялась в корпусе 50 раз, мы оставляем только первое ее вхождение)</li>
    <li>Убираем строки, отличающиеся на 1-2 символа</li>
    <li>Убираем строки, отличающиеся на 3-4 символа</li>
  </ol>
  <p>
    Пункты 2 и 3 также зависимы от порядка гимнов в корпусе. Два последних шага мы делаем при помощи расстояния Левенштейна. Расстояние Левенштейна – это минимально необходимое количество редакционных операций, чтобы из одной строки получить другую. Редакционные операции — это замена, удаление и вставка символа. Например, если в слове кот заменить к на л, получится лот (расстояние 1), а если удалить т и вставить о в начало, получится око (расстояние 2).
  </p>

  <p>
    Код алгоритма можно найти <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/scripts/similarities">в нашем репозитории</a>.
  </p>

  <h3>Лемматизация</h3>
  <p>
    Мы используем разработанный нами правиловый лемматизатор на основе словаря А.Е. Полякова, точность определения словоформы которого составляет более 99% без учета омонимии. Код и словарь для лемматизатора также можно найти <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/scripts/lemmatization">в нашем репозитории</a>.
  </p>
  <p>
  Мы опробовали применить другие лемматизаторы, которые оказались менее подходящими для наших задач:
  </p>
  <ul>
    <li>Древнерусский UDPipe (точность не более 60%, переобученный)</li>
    <li>Старославянский UDPipe (точность не более 40%, переобученный)</li>
    <li>Лемматизатор Ильи Афанасьева (в стадии разработки)</li>
  </ul>

  <h3>Конкорданс для отдельных слов и n-грамм. Поиск гимнов, похожих по n-граммам (в процессе разработки)</h3>
    <p>
      Вывод частотных n-грамм и гимнов, похожих по n-граммам, пока не реализован на нашем сайте, но мы работаем над этим.
    </p>
    <p>
      Вот наши задачи:
    </p>
    <ol>
      <li>
        Составить конкорданс для всех словоупотреблений корпуса. <br>Результат: Для каждого словоупотребления в базе данных зафиксированы гимны, в которых оно встречается, и его порядковый номер в этих гимнах. <br>Пример использования: для интересующего слова вывести все гимны, в которых оно встречается (в строгой форме); отфильтровать результаты по позиции – например, показать только те, в которых это слово является первым.
      </li>
      <li>
        Составить конкорданс для n-грамм – зафиксировать все употребления n-грамм корпуса (гимн + позиция, при этом позицией считается порядковый номер в строке первого слова n-граммы). <br>Результат: для сравнения способов извлечения и хранения n-грамм выполнено для N от 2 до 5. <br>Пример использования: по аналогии с предыдущим, но задано не слово, а последовательность (“яко бог”, “и во веки веков”).
      </li>
      <li>
        Реализовать возможность для указанного гимна (или введенной вручную строки) находить “похожие по n-граммам”. Результат:
        <ul>
          <li>можно найти и просмотреть гимны, в которых встретились совпадающие n-граммы, с учетом количества совпадений и похожих позиций,</li>
          <li>получить список частотных n-грамм всего корпуса,</li>
          <li>находить частотные формульные слова и конструкции, анализировать их вхождения, расположение,</li>
          <li>возможно – сопоставлять результаты поиска с информацией о других типах сходства (например, тех, которые позволяют выявлять интертекстуальные отсылки).</li>
        </ul>
      Пример использования: сейчас есть функция, которая ранжированный список “похожих” гимнов для указанного или введенного вручную. Можно представить, как это может выглядеть на сайте: на странице интересующего гимна нажать “показать близкие по n-граммам”, перейти на страницу с ранжированным списком.
      </li>
    </ol>
    <p>
      <b>Технологии:</b> nltk (модуль ngrams из nltk.util), регулярные выражения для предобработки пользовательского ввода.
    </p>
    <p>
      <b>Как работает функция для вывода “близких по n-граммам” гимнов:</b> сначала для введенного гимна получает список всех содержащихся в нем n-грамм, затем для каждой из них получает из БД список всех гимнов, в которых она содержится, с указанием ее позиции в каждом из них, затем очищает список от повторов и полных дублей и ранжирует.
    </p>
    <p>
      На данный момент эта задача находится в разработке, пока она недоступна для пользователя. Все материалы и код – <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/scripts/ngrams">в нашем репозитории</a>.
    </p>



{% endblock %}
