{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}
О корпусе
{% endblock %}

{% block content %}
  <h1>Контакты</h1>

  <p>
    Мы всегда открыты для ваших вопросов и предложений! Нам стоит писать, если вы:
  </p>
  <ul>
      <li>заметили в корпусе ошибку или неточность</li>
      <li>хотите что-то сделать на пользу корпуса</li>
      <li>использовали корпус для своих исследований и хотите рассказать нам об этом</li>
      <li>у вас есть идеи по развитию корпуса</li>
      <li>… продолжение следует</li>
  </ul>
  <p>
    Наша почта: <a href="mailto:dh.csl.corpus@gmail.com">dh.csl.corpus@gmail.com</a>
  </p>
  <h3>Ссылки</h3>
    <ul>
        <li>
          Наш основной репозиторий: <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus ">gitlab.com/dh_csl_corpus/dh-csl-corpus</a>
        </li>
        <li>
          Репозиторий веб-приложения: <a href="https://gitlab.com/dh_csl_corpus/csl-corpus-web">gitlab.com/dh_csl_corpus/csl-corpus-web</a>
        </li>
        <li>
          Основной сайт: <a href="https://liturcorpora.ru/">liturcorpora.ru</a>
        </li>

    </ul>


{% endblock %}
