{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
Главная
{% endblock %}

{% block content %}


  <h3>Церковнославянский богослужебный корпус</h3>

  <p>
    Наш корпус – это инструмент для поиска совпадающих и похожих фрагментов в разных текстах. С его помощью можно:
  </p>
  <ul>
    <li>находить в богослужебных текстах отсылки и цитаты</li>
    <li>устанавливать их источники</li>
    <li>выделять формульные конструкции</li>
  </ul>
  <p>
    На данный момент в корпусе четыре книги: Библия, Октоих, Триодь Постная и Триодь Цветная. Ресурс позволит внимательно разглядеть все переплетения в клубке богослужебных текстов. Можно переходить от книги к книге и перемещаться от глав к отдельным службам и абзацам, а внутри абзацев – к смысловым единицам, гимнам. Если нажать на любой гимн любой книги, можно увидеть гимны из всех книг корпуса, которые совпадают с ним полностью и частично, а также их “адреса”.
  </p>
  <p>
    Сам корпус находится на странице “<a href="{{url_for('texts')}}">Тексты</a>”, а на странице “<a href="{{url_for('about')}}">О корпусе</a>” описана структура ресурса и использованные алгоритмы. Там же можно найти ссылки на источники и описание формата и разметки текстов, а краткую справку об источниках – на странице “<a href="{{url_for('gloss')}}">Глоссарий</a>”.
  </p>

  <h3>Просмотр текстов</h3>
  <ul>
    {% for row in rows %}
    <li>
    <a href="{{url_for('view', num = row['id'])}}">{{row["name_long"]}}</a>
  </li>
    {% endfor %}
  </ul>


{% endblock %}
