{% extends "base.html" %}
{% set active_page = "project" %}

{% block title %}
О корпусе
{% endblock %}

{% block content %}
  <h1>О проекте</h1>

  <p>
    Церковнославянский богослужебный корпус – проект студентов НИУ ВШЭ под руководством <b>игумена Пантелеимона (Королева)</b>, настоятеля Данилова монастыря г. Переславль-Залесский.
  </p>

  <p>
    Идея проекта принадлежит нашему руководителю и вдохновителю отцу Пантелеимону, который помогал нам концептуально, теоретически и технически. Проект – часть экспериментов по применению методов компьютерной лингвистики к корпусу богослужебных текстов Православной Церкви (<a href="https://liturcorpora.ru/">liturcorpora.ru</a>).
  </p>

  <p>
    Работа над проектом началась в ноябре 2020 года в рамках проектного семинара магистратуры “<a href="https://www.hse.ru/ma/dh/">Цифровые методы в гуманитарных науках</a>”. Консультативную и организационную поддержку проекту оказывали Даниил Андреевич Скоринкин и Анастасия Александровна Бонч-Осмоловская. Под их руководством на проектных семинарах мы регулярно отчитывались о проделанной работе, учились планировать и организовывать работу проекта.
  </p>

  <h3> Участники проекта </h3>
  <ul>
    <li>
      <b>Ксения Костомарова</b> (бакалавриат “Филология”, выпуск 2022) – энтузиаст из бакалавриата, главный эксперт проекта по литургическим текстам, составила глоссарий, работала с case-studies и оценивала алгоритмы качественно
    </li>
    <li>
      <b>Екатерина Немкович</b> (магистратура “Цифровые методы в гуманитарных науках”, выпуск 2022) – бизнес-аналитик проекта (составила бэклог), главный веб-разработчик, занималась подготовкой текстов и базы данных
    </li>
    <li>
      <b>Дарья Балуева</b> (магистратура “Цифровые методы в гуманитарных науках”, выпуск 2022) – секретарь-менеджер (организовывала процесс), делала алгоритм поиска похожих гимнов
    </li>
    <li>
      <b>Дмитрий Крылов</b> (магистратура “Цифровые методы в гуманитарных науках”, выпуск 2022) – тестировал существующие технологии лемматизации, разработал правиловый лемматизатор
    </li>
    <li>
      <b>Ирина Кунгурцева</b> (программа профессиональной переподготовки “Компьютерная лингвистика”, выпуск 2021) – волонтер, присоединившийся к проекту в рамках университетской практики, занималась подготовкой текстов и разработала алгоритм выделения частотных n-грамм
  </ul>
  <p>
    Материалы и код нашего проекта полностью открыты. Их можно найти в gitlab-репозиториях: <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus">основном</a> и <a href="https://gitlab.com/dh_csl_corpus/csl-corpus-web">репозитории веб-приложения</a>. Отчетные презентации, которые мы делали на проектных семинарах, можно найти <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/tree/main/presentations">в репозитории</a>.
  </p>

  <h3>Презентация проекта</h3>
    <p>
      1 марта 2022 года мы представили проект на конференции “<a href="https://ruslang.ru/conference/sovremennaya-pravoslavnaya-gimnografiya-2022">Современная православная гимнография</a>”. Запись доклада “Поиск совпадений в фрагментах богослужебных текстов: техническая база и функциональные возможности” <a href="https://youtu.be/Rsmj3kfoAeM?t=1692">доступна на Youtube</a>, а презентация – <a href="https://gitlab.com/dh_csl_corpus/dh-csl-corpus/-/blob/main/presentations/%D0%A1%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F%20%D0%B3%D0%B8%D0%BC%D0%BD%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F.pdf">тут</a>.
    </p>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Rsmj3kfoAeM?start=1692" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
      <small><i>Наш доклад на конференции “Современная православная гимнография”</i></small>
    </p>

{% endblock %}
